body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sub_div{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_div label{
    /* padding: 10px; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
    background-color: #fff;
    border: none;
    color: #111;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);  
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
  }

  #number {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0px 0px 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);  
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
  }

  #number1 {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0px 0px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);  
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
  }

  /* #number1 {
    width: 12%;
    padding: 12px 20px;
    margin: 8px 0px 0px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */

  #result {
      font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    width: 20%;
    /* border: 5px solid #111;  */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }